 /* --- default css ----- */
 html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  
  body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #e7e2e2 !important;
    color: #fff !important;
    font-family: "Centra", sans-serif !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
  }
  
  p,
  a,
  li,
  button,
  ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
  }

  /* ------ nav ------- */
#title{
    margin-left: 35%;
}

#nav_title  {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 2;

    /* margin-bottom: 20px; */
  }

@keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  #grad-css {
    --bg-size: 400%;
    --color-one: rgb(227, 255, 42);
    --color-two: rgb(255, 42, 42);
    /* font-size: clamp(3rem, 25vmin, 8rem); */
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
  }
  @media (prefers-reduced-motion: no-preference) {
    #grad-css {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }


/* footer */

.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
display:block;
margin-right:0;
font-weight:600
}
}


@media (max-width:480px){
    #pes-logo,
    #club-name {
      display: none;
    }
    #title{
        margin-left: 0px;
    }

}